---
import { SITE } from "@/config";
import Root from "../layout/root.astro";
---

<Root>
  <main class="main">
    <div class="container">
      <h1 class="title">{SITE.title}</h1>
    </div>
  </main>
</Root>

<style>
  .main {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    place-items: center;
  }
  .container {
    width: min(100% - 2rem, 70ch);
    margin-inline: auto;
  }

  .title {
    text-align: center;
    font-size: 7rem;
    color: var(--default-text-color);
  }
</style>
