---
import { SITE } from "@/config";
import "../styles/globals.css";
interface Props {
  title?: string;
}

const { title } = Astro.props;
const getTitle = () => {
  if (title) {
    return `${SITE.title} | ${title}`;
  }
  return SITE.title;
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href="/fonts/AtkinsonHyperlegible-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/AtkinsonHyperlegible-Bold.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <title>{getTitle()}</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
    </nav>
    <slot />
  </body>
</html>
